body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar-title {
    float: left;
    color: #fff;
    padding: 14px 20px;
    font-size: 18px;
}

.nav-item {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #575757;
    color: white;
}

.nav-search {
    float: right;
    padding: 6px;
    margin: 8px 20px;
    border: none;
    border-radius: 4px;
}

.container {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

td img {
    width: 20px;
    height: 20px;
}

td .coin-name {
    cursor: pointer;
    color: #4CAF50;
    text-decoration: underline;
}

td .coin-name:hover {
    color: #45a049;
}

.coin-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #45a049;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
#favoriteCoinsTable .coin-name{
    cursor: pointer;
}